<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="contact" class="user-icon"></ion-icon>
    </ion-buttons>
    <ion-title>My Accounts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides>
    <ion-slide class="pay-bills-sider">
      <ion-card class="pay-bills-card">
        <ion-card-header class="pay-bills-header">
          <h5>Card Subtitle</h5>
          <p>2103454863435</p>
        </ion-card-header>
        <ion-card-content class="pay-bills-content">
          <p>2419 khubeka str</p>
          <p>
            embalenhle
          </p>
          <p>2285</p>
        </ion-card-content>
      </ion-card>
      <div class="progress blue">
        <span class="progress-left">
          <span class="progress-bar"></span>
        </span>
        <span class="progress-right">
          <span class="progress-bar"></span>
        </span>
        <div class="amount-due">
          <div>amount Due</div>
          <div class="amount">R 500.00</div>
          <div>25-12-2019</div>
        </div>
      </div>
    </ion-slide>
    <ion-slide class="pay-bills-sider">
      <ion-card class="pay-bills-card">
        <ion-card-header class="pay-bills-header">
          <h5>Card Subtitle</h5>
          <p>2103454863435</p>
        </ion-card-header>
        <ion-card-content class="pay-bills-content">
          <p>2419 khubeka str</p>
          <p>
            embalenhle
          </p>
          <p>2285</p>
        </ion-card-content>
      </ion-card>
      <div class="progress pink">
        <span class="progress-left">
          <span class="progress-bar"></span>
        </span>
        <span class="progress-right">
          <span class="progress-bar"></span>
        </span>
        <div class="amount-due">
          <div>amount Due</div>
          <div class="amount">R 800.00</div>
          <div>25-12-2019</div>
        </div>
      </div>
    </ion-slide>
    <ion-slide class="pay-bills-sider">
      <ion-card class="pay-bills-card">
        <ion-card-header class="pay-bills-header">
          <h5>Card Subtitle</h5>
          <p>2103454863435</p>
        </ion-card-header>
        <ion-card-content class="pay-bills-content">
          <p>2419 khubeka str</p>
          <p>
            embalenhle
          </p>
          <p>2285</p>
        </ion-card-content>
      </ion-card>
      <div class="progress green">
        <span class="progress-left">
          <span class="progress-bar"></span>
        </span>
        <span class="progress-right">
          <span class="progress-bar"></span>
        </span>
        <div class="amount-due">
          <div>amount Due</div>
          <div class="amount">R 1000.00</div>
          <div>25-12-2019</div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
