<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>sign up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-label position="stacked">email</ion-label>
      <ion-input placeholder="email@mail.com" class="input-text" [(ngModel)]="user.username"></ion-input>
      <ion-label position="stacked">name</ion-label>
      <ion-input placeholder="John" class="input-text" [(ngModel)]="user.name"></ion-input>
      <ion-label position="stacked">surname</ion-label>
      <ion-input placeholder="John" class="input-text" [(ngModel)]="user.surname"></ion-input>
      <ion-label position="stacked">cell number</ion-label>
      <ion-input
        type="number"
        placeholder="+27 123 12334"
        class="input-text"
        [(ngModel)]="user.phoneNumber"
      ></ion-input>
      <ion-label position="stacked">password</ion-label>
      <ion-input type="password" placeholder="*****" class="input-text" [(ngModel)]="password"></ion-input>
      <ion-label position="stacked">confirm password</ion-label>
      <ion-input type="password" placeholder="*****" class="input-text" [(ngModel)]="cpassword"></ion-input>

      <button class="btn btn-primary" (click)="signUp()">Sign up</button>
    </ion-list>
  </div>
</ion-content>
